@import url('https://fonts.googleapis.com/css?family=Changa|Roboto');
body,html{
	
    
    font-family: 'Droid Arabic Kufi';
}

.container{
    width:1200px;
    margin: 10px auto;
}

/*Start Header*/
header{
    height:70px;
    background: #b6c4c7;
    position: relative;
    margin-bottom: 0;
    
}
header .members{
    width:20%;
    float:right;
    margin:0 10px 0 0;
    
}
header .members i{
    color: #771943;
    margin-left:4px;
}
header .members h3{
    font-weight: bold;
    color:#303D4D;
}

header nav{
    width: 70%;
    float:left;
    margin:20px 10px 0 10px;
          
}
header nav input{
    width:50%;
    border-radius:4px;
    border:none;
    height:35px;
    float: left;
}
header nav i{
    position: absolute;
    top:25px;
    left:20px;
    color: #7C878F;
}

/*End Header*/

/* Start Main Content*/
.maincontent{
    width:100%;
    background: #E7EBEE;
    margin:0;
    padding:20px 20px;
     
}
.maincontent .content{
 
    width:21%;
    border:1px solid #ccc;
    background-color: #fff;
    border-radius:7px;
    margin:10px 20px;
    float: right;
   
}
.maincontent .content img{
    width:60px;
    height: 60px;
    border-radius:50%;
   
    margin:10px 20px 10px;
    float:right;
}
.maincontent .content .img_1{
    border:2px solid #1abc9c;
}
.maincontent .content .img_2{
    border:2px solid #fdcb6e;
}
.maincontent .content .img_3{
    border:2px solid #d63031;
}
.maincontent .content .img_4{
    border:2px solid #b2bec3;
}

.maincontent .content .details h3{
    font-weight:bold;
    font-size: 16px;
    color:#41504e;
    margin-bottom:0;
    font-family: 'Droid Arabic Kufi';
}
.maincontent .content .details p{
    line-height: 1.5;
    font-size: 10px;
    color: #692a50;
    font-family: 'Droid Arabic Kufi';
}
.clear{
    clear: both;
}
.maincontent a {
    float:left;
    font-size: 18px;
    font-weight:400;
    text-decoration: none;
    color:#000;
    margin:0px 40px;
}
.maincontent a:after{
    content: ' >';
}

.controls{
    color:#940644;
   margin-top:30px;
    margin-bottom: 30px;
   
}
.controls h3{
   margin: 0;
   font-weight: bold;
}

.controlsdetails{
  
    
    overflow: hidden;
    position: relative;
    
   
}

.controlsdetails .documents{
     width:30%; 
    float:right;
    margin-left: 5%;
}

.controlsdetails .documents:last-of-type{
    margin-left: 0;
}

.controlsdetails .documents .detailshead{
    width:100%; 
    background-color: #85046d;
    color: #fff;
    height:70px;
    position: relative;
    
}


.controlsdetails .documents .detailshead h3{
    float: right;
    position: absolute;
    right:10px;
      
}

.controlsdetails .documents .detailshead a{
    float:left;
    position: absolute;
    left:10px;
    top:20px;
    font-size: 18px;
    font-weight:400;
    text-decoration: none;
    color:#fff;
   
  
}
.controlsdetails .documents .detailshead a:after{
    content: ' >';
}
.controlsdetails .documents .documentsdetails{
    padding: 10px;
    margin-top:10px;
    background-color: #EEF2F3;
    width:100%;
    min-height: 115px;
    overflow: hidden;
    
}
.controlsdetails .documents .documentsdetails .img{
    width:25%;
    height: 100%;
}
.controlsdetails .documents .documentsdetails img{
    float:right;
    width:60px;
    height:60px;
    margin-top:10px;
}
.controlsdetails .documents .documentsdetails .details{
    margin-top:10px;
    box-sizing: border-box;
    margin-right: 10px;
    float: right;
    width:73%;
    padding: 5px;
    
    
    
}
.controlsdetails .documents .documentsdetails .details p{
   
    font-size:13px;
    color:#57606f;
}
.controlsdetails .documents .documentsdetails .details span{
    font-size:10px;
    color:#636e72;
}

@media screen and (max-width:1271px){
    .container{
    width:1150px;
    margin: 8px auto;
    }
    .maincontent{
  
    padding:4px 3px;
     
}
}
@media screen and (max-width:1203px){
    
.container{
    width:1100px;
    margin: 8px auto;
} 
.maincontent .content img{
    width:55px;
    height: 55px;
    margin:10px 20px 10px;
    
}
.maincontent .content .details h3{
    font-size: 18px;

}
.maincontent .content .details p{
    line-height: 1.4;
    font-size: 12px;
    
}
.maincontent a{
    font-size: 12px;
}
.controlsdetails .documents .detailshead{
  
    height:60px;
    
    
}
.controlsdetails .documents .detailshead h3{

    right:10px;
    font-size:18px;
      
}

.controlsdetails .documents .detailshead a{

    font-size: 12px;  
}
.controlsdetails .documents .documentsdetails{
    padding: 10px;
    margin-top:10px;
    background-color: #EEE;
    width:100%;
    min-height: 115px;
    overflow: hidden;
    
}

.controlsdetails .documents .documentsdetails img{
    width:55px;
    height:55px;
    margin-top:8px;
}
.controlsdetails .documents .documentsdetails .details{
    margin-top:10px;
    margin-right: 8px;
    
}
.controlsdetails .documents .documentsdetails .details p{
    font-size:11px;
    
}
.controlsdetails .documents .documentsdetails .details span{
    font-size:10px;
}

}
@media screen and (max-width:1154px){
    
    .container{
        width:1050px;
    }
    .maincontent .content{
        width:20%;
    }
    .maincontent .content img{
    width:50px;
    height: 50px;
    margin:10px 20px 10px;
    
}
.maincontent .content .details h3{
    font-size: 14px;

}
.maincontent .content .details p{
    line-height: 1.4;
    font-size: 10px;
    
}
.maincontent a{
    font-size: 10px;
}
}
@media screen and (max-width:1104px){
    .container{
        width:1000px;
    }
    
    .maincontent .content{
        width:45%;
    }
    .maincontent .content .details h3{
    font-size: 18px;

}
    .maincontent .content .details p{
    line-height: 1.4;
    font-size: 12px;
    margin-top:5px;
    margin-bottom: 5px;
    
}
    .maincontent a{
    font-size: 12px;
}
}
@media screen and (max-width:1054px){
    .container{
        width: 980px;
    }
}
@media screen and (max-width:1033px){
    .container{
        width: 950px;
        margin:0 auto;
    }
}
@media screen and (max-width:1003px){
    .container{
        width: 900px;
        margin:0 auto;
    } 
}
@media screen and (max-width:937px){
       .container{
        width: 850px;
    }
    .controlsdetails .documents{
     width:100%; 
    
   
}


.controlsdetails .documents .detailshead{
    width:100%; 
    height:70px;
    margin-top:10px;
    
}

.controlsdetails .documents .documentsdetails{
 
    min-height: 100px; 
    
}

.controlsdetails .documents .documentsdetails .details p{
   
    font-size:18px;
   
}
.controlsdetails .documents .documentsdetails .details span{
    font-size:12px;
    
}
}
@media (min-width:557px) and (max-width:886px){
       .container{
        width: 100%;
    }
    header .members{
    width:20%;
    float:right;
    margin:0 10px 0 0;
    
}

    header nav{
    width: 70%;
    margin:15px 10px 0 10px;
          
}
    header nav i{
   
    top:20px;
    left:15px;
}
  
.maincontent .content{
 
    width:100%;
    margin:2px 5px;
    
   
}
.maincontent .content img{
    width:50px;
    height: 50px;

}
.maincontent .content .details h3{

    font-size: 20px;
    margin-bottom:2px;
}
.maincontent .content .details p{
    line-height: 1.2;
    
}

.maincontent a {
    font-size: 14px;
    font-weight:300;
    margin:4px 20px;
}





.controlsdetails .documents{
     width:100%; 
    
}


.controlsdetails .documents .documentsdetails img{
   
    width:40px;
    height:40px;
   
}

.controlsdetails .documents .documentsdetails .details p{
   
    font-size:14px;
    
}


}

@media (min-width:278px) and (max-width:556px){
    
.container{
        width: 100%;
    }
header{
    height:90px;
    background: #AAA;
    margin-bottom: 0;
    
}
header .members{
   
   width:100%;
text-align: center;
}
header .members h3{
        font-size:14px;
}
    header nav{
        width:100%;
        margin:0;    
    }

header nav input{
   width:90%;
    height:35px;
    margin-bottom:10px;
    margin-right: 15px;
    margin-left:15px;
    
    
}
header nav i{
    position: absolute;
    top:50px;
    left:20px;
}

/*End Header*/

/* Start Main Content*/

.maincontent .content{
 
    width:100%;
   
    margin:10px auto;
   
   
}
.maincontent .content img{
    width:40px;
    height: 40px;
   
}
.maincontent .content .details h3{
   
    font-size: 14px;
   
}
.maincontent .content .details p{
    line-height: 1.1;
    font-size: 10px;
  
}

.maincontent a {
    
    font-size: 14px;
 
}




.controlsdetails .documents{
     width:100%; 

}


.controlsdetails .documents .detailshead{
    width:100%; 
    color: #fff;
    height:40px;
    position: relative;
    
}


.controlsdetails .documents .detailshead h3{
  
    right:10px;
    font-size: 14px;
}

.controlsdetails .documents .detailshead a{
   
    left:10px;
    top:18px;
    font-size: 12px;
   
   
  
}

.controlsdetails .documents .documentsdetails{
    padding: 8px;
    margin-top:8px;
    width:100%;
    min-height: 115px;
    
    
}
.controlsdetails .documents .documentsdetails .img{
    width:25%;
    height: 100%;
    float:right;
}
.controlsdetails .documents .documentsdetails img{
    float:right;
    width:40px;
    height:40px;
    margin-top:10px;
}
.controlsdetails .documents .documentsdetails .details{
    margin-top:10px;
    width:60%;
    padding: 5px;
    
    
    
}
.controlsdetails .documents .documentsdetails .details p{
   
    font-size:12px;
    
}
.controlsdetails .documents .documentsdetails .details span{
    font-size:7px;
   
    margin-bottom: 5px;
}
    }
